* {
    margin: 0;
    padding: 0;
}
.clear {
    clear:both;
}

body {
    background-color: white;
    color:orange;
}
i {
    color:orange;
}


.products {
    background-color: ActiveBorder;
}

    .products .product {
        background-color: ActiveCaption;
    }

        .products .product ul.product-listings {
            background-color: burlywood;
            margin:auto;
            width:100%;
        }

            .products .product ul.product-listings li.product-listing {
                background-color: antiquewhite;
                width:19%;
                margin-right:1.2rem;
                list-style-type:none;
                float:left;
            }

                .products .product ul.product-listings li.product-listing img {
                    background-color: azure;
                    height:auto;
                }

                .products .product ul.product-listings li.product-listing ul.product-colors {
                    background-color: beige;
                    width:100%;
                }

                    .products .product .product-listings .product-listing ul.product-colors li.product-color {
                        background-color: bisque;
                        list-style-type:none;
                        float:left;
                        height:1.6rem;
                        width:1.6rem;
                        margin:.4rem 0 0.6rem 0.5rem;
                    }              
                    .products .product .product-listings .product-listing ul.product-colors li.product-color:nth-child(1) {
                        background-color:black;
                        float:left;
                    }               
              
                    .products .product .product-listings .product-listing ul.product-colors li.product-color:nth-child(2) {
                        background-color:red;
                        float:left;
                    }               
                    
                    .products .product .product-listings .product-listing ul.product-colors li.product-color:nth-child(3) {
                        background-color:gray;
                        float:left;
                    }               
                    
                    .products .product .product-listings .product-listing ul.product-colors li.product-color:nth-child(4) {
                        background-color:darkblue;
                        float:left;
                    }               
                    
                    .products .product .product-listings .product-listing ul.product-colors li.product-color:nth-child(5) {
                        background-color: orange;
                        float:left;
                    }
                .products .product .product-listings .product-listing ul.product-reviews {
                    background-color: blanchedalmond;
                    clear:both;
                    
                }

                .products .product .product-listings .product-listing ul.product-reviews li.product-review {
                    list-style-type:none;
                    width:1.5rem;
                    height:1.5rem;
                    float:left;                    
                    margin:.4rem 0.1rem 0.6rem 0;
                }

                .products .product .product-listings .product-listing ul.product-reviews li.product-review:first-of-type {
                    list-style-type:none;
                    width:1.5rem;
                    height:1.5rem;
                    float:left;                    
                    margin-left:1rem;
                }

                .products .product .product-listings .product-listing ul.product-reviews li.product-review i.fa-star-gray {
                    color:gray;
                    list-style-type:none;
                    width:1.5rem;
                    height:1.5rem;
                }

                .products .product .product-listings .product-title {
                    background-color: brown;
                    width:92%;
                    font-size:1rem;
                    color:white;
                    text-align:center;
                    padding:.4rem .6rem;
                }

                .products .product .product-listings .product-listing p:first-of-type {
                    background-color: cadetblue;
                }

                .products .product .product-listings .product-listing p:nth-child(1) {
                    background-color:chartreuse;
                }